/* PC */
@media(min-width: 992px){
  .mobile__header{
    display: none;
  }
}
/* Tablet-mobile */
@media(max-width: 	991.98px){
    /* ẩn navbar */
    .navbar{
      display: none;
    }
    /* chuyển logo vào giữa */
    .header-top{
      position: relative;
    }
    .header__logo{
      position: absolute;
      left: 50%;
      translate: -50% -50%;
    }
    /* căn vị trí của menu */
    .menu-header__icon{
      position: absolute;
      top: 38px;
      left: 26px;
      color: #fff;
      height: 20px;
    }
    .menu-overlay{
      position: fixed;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1; /* lớp phủ lên đầu tiên */
      inset: 0  ; /* dài rộng của lớp phủ */
      /* bình thường ẩn overlay đi */
      opacity: 0;
      visibility:hidden;
      transition: 0.5s;
    }
    /* kiểm tra nếu checkbox được check thì hiện overlay */
    .menu-checkbox:checked ~ .menu-overlay{
      opacity: 1;
      visibility: visible;
    }
    /* code cho menu drawer */
    .menu-drawer{
      position: fixed;
      background-color: #144674;
      inset: 0 40% 0 0;
      z-index: 2;
      transform: translateX(-100%);
      transition: 0.5s;
      padding: 60px;
    }
    /* kiểm tra nếu checkbox được check hiện menu */
    .menu-checkbox:checked ~.menu-drawer{
      transform: translateX(0);
    }
    /* menu top */
    .close__menu{
      width: 24px;
      color: #fff;
    }
    .menu-drawer__top{
      display: flex;
      align-content: center;
      justify-content: space-between;
    }
    #navbar__list--mobile{
      margin-top: 30px;
    }
    .navbar__item{
      margin-top: 20px;
    }
    .navbar__link{
      display: block;
      font-size: 2rem;
    }
    .navbar__link:hover{
     background-color: #265c8e; 
    }


    /*------ HERO -----*/
    .hero{
       flex-direction: column;
       gap: 70px;
    }
    .hero__content{
      order: 2; /* để cho nó nằm sau */
      width: 80%;
      margin: 30px auto;
      text-align: center;
    }
    .hero__row{
      justify-content: center;
    }
    .hero__media{
      order: 1;
      margin: 0 auto;
    }

    /* khối service */
    .service__row{
      flex-direction: column;
      row-gap: 30px;
    }
    .service__img{
      width: 100%;
    }
    .service-item{
      width: 90%;
      text-align: start;
    }
    .service__list{
      text-align: center;
    }
    /* work list */
    .work__list{
      grid-template-columns: 1fr;
      row-gap: 30px;
    }
    /* about */
    .about__row{
      flex-direction: column;
      row-gap: 30px;
    }
    .about__media{
      width: 100%;
    }
    /* ẩn ảnh đi */
    .about__img--small{
      display: none;
    }
    .about__img--big{
      width: 100%;
      border-radius: 25px;
    }

    .about__content {
      width: 90%;
      text-align: center;
    }

    /* team list */
    .team-list{
      grid-template-columns: repeat(2,1fr);
      row-gap: 30px;
    }
    .team-itme__thumb{
      margin: 0 auto;
    }
    /* install */
    .install__img{
      display: none;
    }
    .install__content{
      width: 90%;
      margin: 0 auto;
    }

    /* blog */
    .blog__inner{
      flex-direction: column;
      row-gap: 30px;
    }
    .blog__content{
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .blogg__heading{

      max-width: 100%;
    }
}
/* Tablet */
@media(min-width: 	768px) and (max-width: 991.98px){
  .footer-hidden{
    display: none;
  }
  .footer__top{
    grid-template-columns: 0.5fr 0.fr 1fr;
  }
  .show-on-mobile{
    display: none;
  }
}
/* mobile */
@media(max-width: 	767.89px){
  .header__action{
    display: none;
  }
  .menu-header__icon{
    top: 21px;
  }
  .navbar__link{
    font-size: 2rem;
  }
  .menu-drawer{
    padding: 40px;
    inset: 0 20% 0 0;
  }
  .navbar__item{
    list-style-type: none;
  }
  .separate{
    border-top: 1.5px solid #e8ebee;
    margin-top: 10px;
  }
  /* Hero */
  .hero__img--small{
    display: none;
  }
  .hero__img--large{
    width: 100%;
    height: auto;
  }
  .hero__heading{
    font-size: 3rem;
  }
  .hero__row{
    flex-direction: column;
    row-gap: 20px ;
  } 
  /* service */
  .service{
    padding: 70px 0;
  }
  .section-desc{
    width: 100%;
  }
  .service__img{
    height: auto;
  }
  .work__desc{
    width: 100%;
  }
  .work-item{
    padding: 20px;
  }
  .about{
    padding: 40px 0;
    margin-top: 40px;
  }
  .section-heading{
    font-size: 3rem;
  }
  .team-list{
    grid-template-columns: repeat(1, 1fr);
  }
  .install__inner{
    margin: 40px 0;
    padding: 8px;
  }
  .install__content{
    min-width: 250px;
  }
  .install-desc{
    font-size: 1.3rem;
  }
  .blog_list{
    grid-template-columns: repeat(1,1fr);
    row-gap: 30px;
  }
  .service__heading{
    text-align: center;
  }
  .container__inner{
    padding: 30px 5px;
  }
  /* FOOTER */
  .footer__top{
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .footer__copyright{
    border-top: 1px solid #aaa8a8;
    margin-top: 25px;
  }
}
